body{
font-family:Arial;background:#121212;color:white;padding:15px
}
.app{
max-width:420px;margin:auto;background:#292929;padding:20px;border-radius:20px
}
input,button{
width:100%;padding:14px;margin:8px 0;font-size:18px;border-radius:10px
}
button{
background:#e67e22;color:white;font-weight:bold;border:0
}
#resultado{
background:#000;padding:15px;border-radius:10px;margin-top:15px
}